body{
    font-family: sans-serif;
    background-color: azure;
}

.hero-section{
    font-size: 1rem;
}

.app-motto{
    font-size: 1rem;
}

.working{
    font-size: 1rem;
}

.feature{
    font-size: 1rem;
}